body {
    margin: 0;
    padding: 0;
}

#mainBar {
    align-content: center;
    margin: auto;
}

.list-group-item {
    cursor: pointer;
}


/* hide scrollbars */
html {
  scrollbar-width: none;
}

::-webkit-scrollbar {
  display: none;
}